<div class="section section-footer-dark is-dark align-items-center">
    <div class="container container-fluid justify-content-center">
        <a class=" navbar-brand" href="/home">
            <img class="mx-auto d-block" height="75px" src="/images/logo.png"></img>
        </a>
        <div class="col col-12">
            <div class="flexh-justify-center md-flexh-justify-start">
                <div class="fa-brand px-4">
                    <a href="#" target="">
                        <i class="fa fa-whatsapp fa-3x"></i>
                    </a>
                </div>
                <div class="fa-brand px-4">
                    <a href="https://www.facebook.com/webautosjp/" target="_blank">
                        <i class="fa fa-facebook-square fa-3x"></i>
                    </a>
                </div>
                <div class="fa-brand px-4">
                    <a href="https://www.instagram.com/luxurycarsrentaljp/" target="_blank">
                        <i class="fa fa-instagram fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="px-5 mx-auto d-block">
        <div class="float-left">
            ©2021 <a href="https://webautosjp.com" target="_blank">WebAutosJP.</a> Todos os direitos reservados.
        </div>
        <div class="float-right">
            <i class="fa fa-code fa-lg px-2" aria-hidden="true"></i>
            <a href="https://bemtevi.dev.br" target="_blank">Powered by BemTeVi WebDesign</a>
        </div>
    </div>
</div>
</div>
</div>