<div style="width: 60%; height: 400px;" id="map" class="map m-auto"></div>
<script type="text/javascript">
    var mapId = "map";
    var coord = [{{ carro.geo.geometry.coordinates }}]
    function createMap() {
        var coordinate = coord;
        var vectorSource = new ol.source.Vector({});
        var vectorLayer = new ol.layer.Vector({ source: vectorSource });
        var view = new ol.View({
            center: ol.proj.fromLonLat([{{ carro.geo.geometry.coordinates }}]),
            zoom: 12,
            maxZoom: 19,
            minZoom: 5
    });
    var map = new ol.Map({
        layers: [
            new ol.layer.Tile({ source: new ol.source.OSM({ key: 'myKey', crossOrigin: '' }) }), 
            vectorLayer, 
            new ol.layer.Vector({source: })],
        target: 'map',
        controls: ol.control.defaults(),
        view: view
    })

    return this;
    }
    var map = createMap();
</script>