<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <h3 class="logotype"> L U X U R Y  C A R S <br> R E N T A L  J P</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navGroup"
            aria-controls="navGroup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navGroup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home"><i class="fas fa-home"></i> Home <span
                            class="sr-only">(current)</span></a>
                </li>
                
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Busca" aria-label="Search">
            </form>
        </div>
    </div>
</nav>