<nav style="z-index: 10" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <h3 class="logotype"> L U X U R Y C A R S <br> R E N T A L J P</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navGroup"
            aria-controls="navGroup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navGroup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home"><i class="fas fa-home"></i> Home <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            {{#if context.loggedIn}}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/my-profile"><i class="fas fa-user"></i> Perfil</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-power-off"></i> Logout</a>
                </li>
            </ul>
            {{else}}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fas fa-user"></i> Login</a>
                </li>
            </ul>
            {{/if}}
            </li>
            </ul>
            <form action="/search" class="form-inline my-2 my-md-0" method="GET">
                <div class="container d-flex">
                    <input class="form-control mb-2" style="width: 70% !important;" name="term" type="text" placeholder="Busca" aria-label="Search">
                    <button type="submit" class="btn btn-dark"><i class="fas fa-search"></i></button>
                </div>

            </form>
        </div>
    </div>
</nav>