<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Aluguel descomplicado de carros de luxo">
  <meta name="keywords" content="Carros, Japão, Luxo">
  <meta name="author" content="Arthur Henrique">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <title>{{ title }}</title>
  <link rel="preload" as="image" href="/images/bghead.webp">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/custom.css" rel="stylesheet" type="text/css">
  <link href="/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="/css/app.min.css" rel="stylesheet" type="text/css">

  <link href="/css/asas-framework.webflow.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css"
    type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="application/javascript"></script>
  <script src="https://kit.fontawesome.com/58fd563c87.js" crossorigin="anonymous"></script>
  
  <script src="/js/getGeo.js" type="application/javascript"></script>
  <script src="/js/jquery.min.js" type="application/javascript"></script>
  <script src="/js/myswal.js"></script>
  
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>

</head>

<body style="overflow-x: hidden" class="bg-dark justify-content-center m-auto">

  {{{ body }}}

  <script src="/js/webflow.js" type="application/javascript"></script>

</body>

</html>