{{> navbar}}
<div class="mypattern">
    <div class="row row-fluid section">
        <h1 class="text-align-center text-light py-3">
            Busca Avançada
        </h1>
        <div class="text-center m-auto">
            <form action="filter" method="POST">
                <div class="row row-fluid">
                    <div class="col">
                        <select class="form-select" name="brand">
                            <option value="AUDI">Audi</option>
                            <option value="BMW">BMW</option>/
                            <option value="CADILLAC">Cadillac</option>
                            <option value="JEEP">Jeep</option>
                            <option value="LEXUS">Lexus</option>
                            <option value="MAZDA">Mazda</option>
                            <option value="MERCEDES BENZ">Mercedes-Benz</option>
                            <option value="NISSAN">Nissan</option>
                            <option value="PORSCHE">Porsche</option>
                            <option value="TESLA">Tesla</option>
                            <option value="TOYOTA">Toyota</option>
                            <option value="VOLKSWAGEN">Volkswagen</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select" name="city">
                            <option value="Aichi">Aichi</option>
                            <option value="Akita">Akita</option>
                            <option value="Aomori">Aomori</option>
                            <option value="Chiba">Chiba</option>
                            <option value="Ehime">Ehime</option>
                            <option value="Fukui">Fukui</option>
                            <option value="Fukuoka">Fukuoka</option>
                            <option value="Fukushima">Fukushima</option>
                            <option value="Gifu">Gifu</option>
                            <option value="Gunma">Gunma</option>
                            <option value="Hiroshima">Hiroshima</option>
                            <option value="Hokkaido">Hokkaido</option>
                            <option value="Hyogo">Hyogo</option>
                            <option value="Ibaraki">Ibaraki</option>
                            <option value="Ishikawa">Ishikawa</option>
                            <option value="Iwate">Iwate</option>
                            <option value="Kagawa">Kagawa</option>
                            <option value="Kagoshima">Kagoshima</option>
                            <option value="Kanagawa">Kanagawa</option>
                            <option value="Kochi">Kochi</option>
                            <option value="Kumamoto">Kumamoto</option>
                            <option value="Kyoto">Kyoto</option>
                            <option value="Mie">Mie</option>
                            <option value="Miyagi">Miyagi</option>
                            <option value="Miyazaki">Miyazaki</option>
                            <option value="Nagano">Nagano</option>
                            <option value="Nagasaki">Nagasaki</option>
                            <option value="Nara">Nara</option>
                            <option value="Niigata">Niigata</option>
                            <option value="Oita">Oita</option>
                            <option value="Okayama">Okayama</option>
                            <option value="Okinawa">Okinawa</option>
                            <option value="Osaka">Osaka</option>
                            <option value="Saga">Saga</option>
                            <option value="Saitama">Saitama</option>
                            <option value="Shiga">Shiga</option>
                            <option value="Shimane">Shimane</option>
                            <option value="Shizuoka">Shizuoka</option>
                            <option value="Tochigi">Tochigi</option>
                            <option value="Tokushima">Tokushima</option>
                            <option value="Tokyo">Tokyo</option>
                            <option value="Tottori">Tottori</option>
                            <option value="Toyama">Toyama</option>
                            <option value="Wakayama">Wakayama</option>
                            <option value="Yamagata">Yamagata</option>
                            <option value="Yamaguchi">Yamaguchi</option>
                            <option value="Yamanashi">Yamanashi</option>
                        </select>
                    </div>

                    <div class="col">
                        <select class="form-select" name="our_cat">
                            <option value="luxo">Luxo</option>
                            <option value="sport">Esportivo</option>
                            <option value="familia">Família</option>
                            <option value="conversivel">Conversível</option>
                            <option value="suv">SUV</option>
                            <option value="eletrico">Elétrico</option>
                            <option value="minivan">Minivan</option>
                            <option value="coupe">Coupé</option>
                            <option value="sedan">Sedan</option>
                        </select>
                    </div>
                    <div class="row text-center container-fluid">
                        <button type="submit" class="btn btn-light col-4 m-auto"> Buscar <i
                                class="fas fa-search px-2 py-2"></i></button>
                    </div>
            </form>
        </div>
    </div>
</div>
{{> footer}}