{{> navbar navUsr=user}}
<div class="mypattern">
    <div class="row row-fluid section">
        <h1 class="text-align-center text-light py-3">
            Alugue os melhores carros pelo melhor preço!
        </h1>
    </div>
    <div class="d-inline-flex w-100 justify-content-between">
        <div class="col col-4 text-center mb-5">
            <a href="/client/catalogo" class="button-primary m-auto">
                <div class="button-primary-text">
                    C A T Á L O G O <br> C O M P L E T O<br><i class="fas fa-book-open fa-3x pt-2"></i>
                </div>
            </a>
        </div>
        <div class="col col-4 text-center mb-5">
            <a href="/client/filtering" class="button-primary m-auto ">
                <div class="button-primary-text">B U S C A <br> A V A N Ç A D A <br> <i class="fab fa-searchengin fa-3x pt-2"></i></div>
            </a>
        </div>
        <div class="col col-4 text-center mb-5">
            <a href="/client/near-me" class="button-primary m-auto ">
                <div class="button-primary-text">C A R R O S <br> P E R T O <br> <i class="fas fa-search-location fa-3x pt-2"></i></div>
            </a>
        </div>
    </div>
</div>

<div>
    <div style="z-index: 10;" class="section container container-fluid align-middle">
        <div class="row">
            <div class="btn-group" role="group">
                <a href="/client/categoria/luxo" class="btn btn-dark mx-1 my-4" value="deluxe">
                    <img alt="Carros de Luxo" src="/images/svg/DELUXE.svg" width="75px"></img>
                    <h2 class="logo-button">Luxo</h2>
                </a>
                <a href="/client/categoria/sport" class="btn btn-dark mx-1 my-4" value="sport">
                    <img alt="Carros Esportivos" src="/images/svg/SPORT.svg" width="75px"></img>
                    <h2 class="logo-button">Esportivo</h2>
                </a>
                <a href="/client/categoria/familia" class="btn btn-dark mx-1 my-4" value="family">
                    <img alt="Carros para toda a Família" src="/images/svg/FAMILY.svg" width="75px"></img>
                    <h2 class="logo-button">Família</h2>
                </a>
                <a href="/client/categoria/suv" class="btn btn-dark mx-1 my-4" value="SUV">
                    <img alt="Carros SUV" src="/images/svg/SUV.svg" width="75px"></img>
                    <h2 class="logo-button">S.U.V</h2>
                </a>
            </div>
        </div>
    </div>

    <div class="section is-dark py-0">
        <div data-animation="outin" data-easing="ease-in-out" data-duration="1000" data-infinite="1"
            class="slider-row w-slider">
            <div class="w-slider-mask">
                <div class="slide-with-bg bg1 py-5 hide-bg w-slide">
                    <div class="container py-5">
                        <div class="col col-lg-5 col-md-8 col-sm-12 alignself-center mb-5">
                            <div class="pre-title on-dark">Luxury Rental</div>
                            <h2 class="mb-3">O que nós fazemos?</h2>
                            <div class="mb-5 carousel-text">Somos uma empresa do grupo UMK, focada em
                                possibilitar o aluguel de carros de luxo sem complicações</div>
                        </div>
                    </div>
                </div>
                <div class="slide-with-bg bg2 py-2 hide-bg w-slide">
                    <div class="container py-2">
                        <div class="col col-lg-5 col-md-8 col-sm-12 alignself-center mb-5">
                            <div class="pre-title on-dark">Luxury Rental</div>
                            <h2 class="mb-2">O nosso diferencial:</h2>
                            <div class="mb-2 carousel-text">Cuidamos de todo o trâmite burocrático na
                                plataforma Anyca. Assim, você não se preocupa com o seu cadastro, nem com a barreira
                                linguística...</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-display-none w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="md-display-none w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="w-slider-nav w-round"></div>
        </div>
    </div>
    <div class="section is-dark">
        <div class="container flex-vertical flexv-align-center margin-top">
            <div class="pre-title on-dark">Alugue agora!</div>
            <h2 class="text-align-center">Confira alguns modelos...</h2>
        </div>
    </div>
    <div class="section is-dark pt-0">
        <div class="container">
            <div class="row row-fluid justify-content-center">

                {{#each pool}}
                <div class="col col-lg-4 col-sm-10 justify-content-center mb-5">
                    {{> car_card}}
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</div>

{{> footer }}
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->