{{> navbar navUsr=user}}
<div class="mypattern">
    <div class="row row-fluid section">
        <h1 style="z-index: 1" class="text-align-center text-light py-3">Alugue os melhores carros pelo melhor preço!
        </h1>
        <div style="z-index: 1" class="xs-is-wrapping">
            <a data-w-id="9550d434-deb5-5db5-e302-0b0463b69108" href="/client/catalogo" class="button-primary m-auto">
                <div class="button-primary-text">Confira nosso catálogo</div>
            </a>
        </div>
    </div>
</div>
<div class="bged">
    <div style="z-index: 10;" class="section container container-fluid align-middle">
        <div class="row">
            <div class="btn-group" role="group">
                <a href="/client/categoria/luxo" class="btn btn-dark mx-1 my-4" value="deluxe">
                <img src="/images/svg/DELUXE.svg" width="75px"></img>
                    <h2 class="logo-button">Luxo</h2>
                </a>
                <a href="/client/categoria/sport" class="btn btn-dark mx-1 my-4" value="sport">
                <img src="/images/svg/SPORT.svg" width="75px"></img>
                    <h2 class="logo-button">Esportivo</h2>
                </a>
                <a href="/client/categoria/familia" class="btn btn-dark mx-1 my-4" value="family">
                <img src="/images/svg/FAMILY.svg" width="75px"></img>
                    <h2 class="logo-button">Família</h2>
                </a>
                <a href="/client/categoria/suv" class="btn btn-dark mx-1 my-4" value="SUV">
                <img src="/images/svg/SUV.svg" width="75px"></img>
                    <h2 class="logo-button">S.U.V</h2>
                </a>
            </div>
        </div>
    </div>

    <div class="section is-dark no-padding-top-bottom">
        <div data-animation="outin" data-easing="ease-in-out" data-duration="1000" data-infinite="1"
            class="slider-row w-slider">
            <div class="w-slider-mask">
                <div class="slide-with-bg bg1 padding-top-bottom-double hide-bg w-slide">
                    <div class="container padding-top-bottom-double">
                        <div class="col lg-5 alignself-center md-8 sm-12">
                            <div class="pre-title on-dark">Luxury Rental</div>
                            <h2 class="size-h2 size-h2-xs margin-bottom-small">O que nós fazemos?</h2>
                            <div class="margin-bottom-2 carousel-text">Somos uma empresa do grupo UMK, focada em possibilitar o aluguel de carros de luxo sem complicações</div>
                        </div>
                    </div>
                </div>
                <div class="slide-with-bg bg2 padding-top-bottom-double hide-bg w-slide">
                    <div class="container padding-top-bottom-double">
                        <div class="col lg-5 alignself-center md-8 sm-12">
                            <div class="pre-title on-dark">Luxury Rental</div>
                            <h2 class="size-h2 size-h2-xs margin-bottom-small">O nosso diferencial:</h2>
                            <div class="margin-bottom-2 carousel-text">Cuidamos de todo o trâmite burocrático na plataforma Anyca. Assim, você não se preocupa com o seu cadastro, nem com a barreira linguística...</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-display-none w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="md-display-none w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="w-slider-nav w-round"></div>
        </div>
    </div>
    <div class="section is-dark">
        <div class="container flex-vertical flexv-align-center margin-top">
            <div class="pre-title on-dark">Alugue agora!</div>
            <h2 class="size-h2 size-h2-xs text-align-center">Confira nossas melhores promoções!</h2>
        </div>
    </div>
    <div class="section is-dark pt-0">
        <div class="container">
            <div class="row row-fluid justify-content-center">

                {{#each pool}}
                <div class="col col-lg-4 col-sm-10 justify-content-center">
                    {{> car_card}}
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</div>

{{> footer }}
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->