{{> navbar navUsr=user}}
<div class="pattern-back">
    <div class="row row-fluid section">
        <h1 class="text-align-center text-light py-3">Alugue os melhores
            carros pelo melhor preço!</h1>
        <div class=" xs-is-wrapping">
            <a data-w-id="9550d434-deb5-5db5-e302-0b0463b69108" href="/client/catalogo" class="button-primary m-auto">
                <div class="button-primary-text">Confira nosso catálogo</div>
            </a>
            {{!-- <a data-w-id="2870347f-3e1a-a5ea-5bd0-f6f9f730f7d6" href="service.html" class="button-primary m-auto">
                <div class="button-primary-text">Sobre nós</div>
            </a> --}}
        </div>
    </div>
</div>
<div class="section is-light">
    <div class="container flex-horizontal">
        <div class="col lg-4 flexv-space-between md-12 text-light">
            <div>
                <div class="pre-title on-dark">Quem nós somos?</div>
                <div class="size-h2 size-h2-xs md-margin-bottom">Somos uma empresa do grupo UMK, focada em possibilitar
                    o aluguel de carros de luxo sem complicações</div>
            </div><a href="about.html" class="cta-link change-color"><span class="margin-right">Mais sobre
                    nós</span><span class="fa c-cta1_arrow-hovered"></span> <span
                    class="fa c-cta1__arrow-normal"></span></a>
        </div>
        <div class="col lg-7 no-margin-bottom-lg md-12 text-light   ">
            <div class="margin-bottom-2 text-large">Sim, você encontrou! Pra que andar com um carro normal, se você pode
                andar com os melhores carros do país, por um preço acessível?</div>
            <div class="container container-nested">
                <div class="col col-md-12 md-margin-bottom-small">
                    <div>Alugue dezenas de carros luxuosos, contando sempre com a solidez do grupo UMK. Você escolhe e
                        se diverte, a gente cuida da burocracia!</div>
                </div>
                <div class="col lg-6 md-12 no-margin-bottom-md">
                    <div class="no-margin-bottom-lg">Com atendimento personalizado via whatsapp, você escolhe como vai
                        pagar!</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section is-dark no-padding-top-bottom">
    <div data-animation="outin" data-easing="ease-in-out" data-duration="1000" data-infinite="1"
        class="slider-row w-slider">
        <div class="w-slider-mask">
            <div class="slide-with-bg bg1 padding-top-bottom-double hide-bg w-slide">
                <div class="container padding-top-bottom-double">
                    <div class="col lg-5 alignself-center md-8 sm-12">
                        <div class="pre-title on-dark">WebAutosJP</div>
                        <h2 class="size-h2 size-h2-xs margin-bottom-small">O que nós fazemos?</h2>
                        <div class="margin-bottom-2">Quando você reserva um carro, nós realizamos todos os trâmites
                            burocráticos com o proprietário.</div>
                        <div class="flexh-align-center wrap-xs">
                            <a href="spare-part-page.html" class="button-primary margin-bottom-small w-inline-block">
                                <div class="button-primary-text">Alugue Agora!</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-with-bg bg2 padding-top-bottom-double hide-bg w-slide">
                <div class="container padding-top-bottom-double">
                    <div class="col lg-5 alignself-center md-8 sm-12">
                        <div class="pre-title on-dark">WebAutosJP</div>
                        <h2 class="size-h2 size-h2-xs margin-bottom-small">O que fazemos?</h2>
                        <div class="margin-bottom-2">Texto 2 do Carrossel</div>
                        <div class="flexh-align-center wrap-xs">
                            <a data-w-id="0dafceca-31fa-ded5-c085-e93ec039c63c" href="spare-part-page.html"
                                class="button-primary margin-bottom-small w-inline-block">
                                <div style="-webkit-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:1"
                                    class="button-primary-text">Alugue Agora!</div>
                                <div style="opacity:0;display:block;-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                    class="button-primary-text for-hover">let&#x27;s go <span
                                        class="fa margin-left"></span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-with-bg bg3 padding-top-bottom-double hide-bg w-slide">
                <div class="container padding-top-bottom-double">
                    <div class="col lg-5 alignself-center md-8 sm-12">
                        <div class="pre-title on-dark">WebAutosJP</div>
                        <h2 class="size-h2 size-h2-xs margin-bottom-small">O que fazemos nós?</h2>
                        <div class="margin-bottom-2">Mais um texto do carrossel</div>
                        <div class="flexh-align-center wrap-xs">
                            <a data-w-id="fa783e8c-c3e1-54ac-265a-cc3990601e9c" href="spare-part-page.html"
                                class="button-primary margin-bottom-small w-inline-block">
                                <div style="-webkit-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:1"
                                    class="button-primary-text">Alugue Agora!</div>
                                <div style="opacity:0;display:block;-webkit-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 20PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                    class="button-primary-text for-hover">let&#x27;s go <span
                                        class="fa margin-left"></span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-display-none w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
        </div>
        <div class="md-display-none w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav w-round"></div>
    </div>
</div>
<div class="section is-dark">
    <div class="container flex-vertical flexv-align-center margin-top">
        <div class="pre-title on-dark">Alugue agora!</div>
        <h2 class="size-h2 size-h2-xs text-align-center">Confira nossas melhores promoções!</h2>
    </div>
</div>
<div class="section is-dark pt-0">
    <div class="container">
        <div class="row row-fluid justify-content-center">
            
                {{#each pool}}
                <div class="col col-lg-6 col-sm-10 justify-content-center">
                {{> car_card}}
                </div>
                {{/each}}
            
        </div>
    </div>
</div>


<div class="section is-dark">
    <div class="container">
        <div class="col lg-12">
            <div class="c-cta1 is-wrapping justifyv-md">
                <div class="md-margin-bottom">
                    <div class="size-h3 md-text-align-center margin-bottom-2">Quer conferir mais promoções?</div>
                    <div class="low-text-contrast md-text-align-center"><strong>Conte conosco pra trazer a sua
                            melhor
                            experiência em aluguel de carros...</strong></div>
                </div>
                <div class="text-align-center flex-horizontal xs-flexv">
                    <a data-w-id="0c55b2c9-fb86-ddd2-a31a-bc84e6c2aeef" href="#"
                        class="button-primary lg-md-sm-margin-right xs-margin-bottom w-inline-block">
                        <div style="-webkit-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:1"
                            class="button-primary-text">Vamos lá!</div>
                    </a>
                    <a data-w-id="92422ac6-ae17-2895-3517-cf5c44bb4638" href="service.html"
                        class="button-primary button-ghost-on-dark w-inline-block">
                        <div style="-webkit-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:1"
                            class="button-primary-text">Saiba Mais</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer }}
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->