<div class="container">
    <div class="">
        <div class="login-main-text">
            <h2>WebAutosJP Rental<br> Login Page</h2>
            <p>Faça Login para acessar sua conta</p>
        </div>
    </div>
    <div class="">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form action="/attempt" method="POST">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" placeholder="Email" name="email">
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        <input type="password" class="form-control" placeholder="Senha" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button class="btn btn-secondary">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>