<div id="preloader">
    <div data-loader="circle-side"></div>
</div><!-- /Preload -->

<div id="loader_form">
    <div data-loader="circle-side-2"></div>
</div><!-- /loader_form -->

<main>
    <div id="form_container">
        <div class="row">
            <div class="col-lg-5">
                <div id="left_form">
                    <figure><img src="img/registration_bg.svg" alt=""></figure>
                    <h2>Registre-se</h2>
                    <p>Todas as informações requisitadas são necessárias para realizar seu cadastro na plataforma Anyca,
                        e nunca serão compartilhadas com terceiros.</p>
                    <a href="#0" id="more_info" data-toggle="modal" data-target="#more-info"><i
                            class="pe-7s-info"></i></a>
                </div>
            </div>
            <div class="col-lg-7">

                <div id="wizard_container">
                    <div id="top-wizard">
                        <div id="progressbar"></div>
                    </div>
                    <!-- /top-wizard -->
                    <form name="example-1" id="wrapped" method="POST">
                        <input id="website" name="website" type="text" value="">
                        <!-- Leave for security protection, read docs for details -->
                        <div id="middle-wizard">

                            <div class="step">
                                <h3 class="main_question"><strong>1/3</strong>Detalhes básicos</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="completeName" class="form-control "
                                                placeholder="Nome Completo">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="telephone" class="form-control"
                                                placeholder="Seu Whatsapp">
                                        </div>
                                    </div>
                                </div>
                                <!-- /row -->

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control "
                                                placeholder="Seu Email">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" name="pass" class="form-control "
                                                placeholder="Sua senha">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" name="pass_conf" class="form-control "
                                                placeholder="Repita sua senha">
                                        </div>
                                    </div>
                                </div>
                                <!-- /row -->

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="text" name="age" class="form-control" placeholder="Idade">
                                        </div>
                                    </div>
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /step-->

                            <div class="step">
                                <h3 class="main_question"><strong>2/3</strong>Documentos Pessoais</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="custom-file my-2">
                                            <input type="file" class="custom-file-input" id="menko" name="menko">
                                            <label class="custom-file-label" for="menko">Habilitação (Menko)</label>
                                        </div>
                                    </div>
                                    <!-- /col-sm-12 -->
                                </div>
                                <!-- /row -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="zairyu">
                                            <label class="custom-file-label" for="zairyu">Zairyu Card (frente e verso)</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- /row -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="styled-select">
                                                <select class="" name="gender">
                                                    <option value="" selected>Gênero</option>
                                                    <option value="mas">Masculino</option>
                                                    <option value="fem">Feminino</option>
                                                    <option value="pnd">Prefiro não dizer</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /step-->

                            <div class="submit step">
                                <h3 class="main_question"><strong>3/3</strong>Se quiser, nos envie uma mensagem! ;)</h3>
                                <div class="form-group">
                                    <textarea name="additional_message" class="form-control" style="height:150px;"
                                        placeholder="Mas só se quiser..."></textarea>
                                </div>
                                <div class="form-group terms">
                                    <input name="terms" type="checkbox" class="icheck required" value="yes">
                                    <label>Declaro que li e aceito os <a href="#" data-toggle="modal"
                                            data-target="#terms-txt">termos e condições</a>.</label>
                                </div>
                            </div>
                            <!-- /step-->
                        </div>
                        <!-- /middle-wizard -->
                        <div id="bottom-wizard">
                            <button type="button" name="backward" class="backward">Anterior </button>
                            <button type="button" name="forward" class="forward">Próximo</button>
                            <button type="submit" name="process" class="submit">Enviar</button>
                        </div>
                        <!-- /bottom-wizard -->
                    </form>
                </div>
                <!-- /Wizard container -->
            </div>
        </div><!-- /Row -->
    </div><!-- /Form_container -->
</main>

<footer id="home" class="clearfix">
    <p>Powered by: <a href="https://bemtevi.dev.br">BemTeVi WebDesign</a></p>
    <ul>
        {{!-- <li><a class="animated-link" href="#" data-toggle="modal" data-target="#terms-txt">Termos e condições</a></li> --}}
        {{!-- <li><a href="#0" class="animated_link">Contatos</a></li> --}}
    </ul>
</footer>
<!-- end footer-->

<div class="cd-overlay-nav">
    <span></span>
</div>
<!-- cd-overlay-nav -->

<div class="cd-overlay-content">
    <span></span>
</div>
<!-- cd-overlay-content -->

<!-- Modal terms -->
<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Esse é um parágrafo dos nossos <strong>termos e condições</strong>, e eu acredito que você aceita
                    ele, pelo menos.</p>
                <p>Claro que o texto que vai aqui é mais jurídico do que isso, mas a gente <strong>precisa desse
                        conteúdo</strong>, senão não funciona!</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam
                    dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt
                    sensibus.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_1" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal info -->
<div class="modal fade" id="more-info" tabindex="-1" role="dialog" aria-labelledby="more-infoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="more-infoLabel">Frequently asked questions</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei
                    ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne
                    quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam
                    dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt
                    sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum
                    accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum
                    sanctus, pro ne quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam
                    dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt
                    sensibus.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_1" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->