/* Antigo asas webflow */

body {
    font-family: 'Gothic A1', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 52px;
    line-height: 1.15;
    font-weight: 900;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 1.25;
    font-weight: 900;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 23px;
    line-height: 1.35;
    font-weight: 900;
}

a {
    color: #d7e0f7;
    text-decoration: none;
}

a:hover {
    color: #686b74;
    text-decoration: none;
}

img {
    display: inline-block;
    max-width: 100%;
}

.nav-link {
    font-weight: 600;
}

.slider-row {
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    background-color: hsla(0, 0%, 100%, 0);
}

.text-white {
    color: #fff;
}

.alignself-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.fa-brand {
    font-family: 'Fa brands 400', sans-serif;
    text-align: center;
}

.text-align-center {
    text-align: center;
}

.fa {
    font-family: 'Fa solid 900', sans-serif;
    font-size: 12px;
}

.flex-vertical {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.pre-title {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.51);
    font-size: 14px;
    font-weight: 700;
}

.pre-title.on-dark {
    color: hsla(0, 0%, 100%, 0.7);
}

.carousel-text {
    font-size: xx-large;
}

.logo-button {
    font-family: 'Montserrat', 'sans-serif';
    letter-spacing: 4px;
}

.mypattern {
    background-image: url('/images/bghead.webp');
    background-size: cover;
}

.on-dark {
    color: #fff;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.is-dark {
    background-color: #000;
    color: #fff;
}

.is-white {
    background-color: #fff;
}

.section {
    padding-top: 96px;
    padding-bottom: 48px;
}

.detail-slider {
    height: 470px;
}


/* Botão */

.button-primary {
    display: inline-block;
    min-width: 180px;
    padding: 16px 40px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-radius: 40px;
    background-color: #00103a;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
}

.button-primary-text {
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
}

.button-primary {
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
}


/* Slides */

.slide-with-bg {
    background-color: #000;
}

.slide-with-bg.bg1 {
    background-image: linear-gradient(256deg, rgba(10, 5, 24, 0.767), rgba(148, 169, 240, 0.808)), url('../../images/slidehead.webp');
    background-position: 50% 50%;
    background-size: cover;
}

.slide-with-bg.bg2 {
    background-image: linear-gradient(256deg, rgba(10, 5, 24, 0.767), rgba(148, 169, 240, 0.808)), url('../../images/slidehead2.webp');
    background-position: 50% 50%;
    background-size: cover;
}

.slide-with-bg.bg3 {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.459), rgba(0, 0, 0, 0.692)), url('../../images/slidehead3.webp');
    background-position: 50% 50%;
    background-size: cover;
}