.pattern-back {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIiB2aWV3Qm94PSIwIDAgNDAsNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgxMzUpICI+PHJlY3QgaWQ9InBhdHRlcm4tYmFja2dyb3VuZCIgd2lkdGg9IjQwMCUiIGhlaWdodD0iNDAwJSIgZmlsbD0icmdiYSg0MiwgNjcsIDEwMSwxKSI+PC9yZWN0PiA8cGF0aCBmaWxsPSJyZ2JhKDI0NywgMjUwLCAyNTIsMSkiIGQ9Ik0tMSAyMCBoMiB2MSBoLTIgek0zOSAyMCBoMiB2MSBoLTIgeiI+PC9wYXRoPjxwYXRoIGZpbGw9InJnYmEoMjQ3LCAyNTAsIDI1MiwxKSIgZD0iTTE5LjUgMjAgaDEgdjEgaC0xIHpNNTkuNSAyMCBoMSB2MSBoLTEgeiI+PC9wYXRoPjwvcGF0dGVybj4gIDwvZGVmcz4gPHJlY3QgZmlsbD0idXJsKCNwYXR0ZXJuKSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSI+PC9yZWN0Pjwvc3ZnPg==") !important;
}

.pagination > li > a {
    background-color: rgb(99, 96, 96);
    color: #ece7f5;
    transition: background-color .8s;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a {
    color: white;
    background-color: #ece7f5 !important;
    border: solid 1px #ece7f5 !important;
}

.pagination > .active > a:hover {
    background-color: #ece7f5 !important;
    border: solid 1px #ece7f5;
}
